// Hero Slider
.default-slider {
    position: relative;
    margin: 50px;
    .slider-wrap {
        background-color: rgba($color: $main-color, $alpha: .6);
        z-index: 2;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;
    }
    .owl-nav {
        margin: 0;
        margin-top: -1px !important;
        text-align: right !important;
        button {
            background-color: $main-color !important;
            padding: .8rem 2rem !important;
            border-radius: 0 !important;
            margin: 1px !important;
            width: 6rem;
            height: 3rem;
            span {
                color: transparent;
                
            }
            &.owl-prev {
                span {
                    position: relative;
                    &:before {
                        content: url('../../assets/images/long-arrow.svg');
                        color: $white;
                        position: absolute;
                        top: -20px;
                        left: -20px;
                    }
                }
            }
            &.owl-next {
                span {
                    position: relative;
                    &:before {
                        content: url('../../assets/images/long-arrow.svg');
                        color: $white;
                        position: absolute;
                        top: -26px;
                        left: -35px;
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
    .slide {
        position: relative;
        .main-wrap {
            position: absolute;
            top: 0;
            background: rgba($color: $main-color, $alpha: .7);
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 4rem;
            .text-wrap {
                width: 50%;
                h2 {
                    font-weight: 700;
                    color: $white;
                    font-size: 2.5rem;
                }
                p {
                    color: $white;
                    font-size: .9rem;
                    font-weight: 300;
                    padding-top: 1rem;
                }
            }
        }
    }
}

// Footer
#footer {
    position: relative;
    background: $main-color;
    text-align: center;
    padding: 2rem 0;
    color: $white;
    p {
        margin: 0;
    }
}