.title-wrap {
    margin-bottom: 2rem;
    h2, h3 {
        color: $main-color;
        font-weight: 700;
    }
    &.left--line {
        &:after {
            content: '';
            display: block;
            width: 60px;
            height: 2px;
            background-color: $black;
        }
    }
}

#about {
    padding-top: 3rem;
    .left-col {
        img {
            position: relative;
            left: -40px;
            top: -100px;
        }
    }
    .right-col {
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(center);
        .content-padded {
            padding-right: 3rem;
            p {
                text-align: justify;
            }
        }
    }
}