// Home page 

// Header
header {
    .default-slider {
        margin-top: 20px;;
    }
}

// Featured Work
#featured-work {
    margin-left: 0;
    margin-right: 0;
    .slide {
        .main-wrap {
            position: relative;
            background-color: $main-color;
            padding: 1rem;
            width: 67%;
            bottom: 2rem;
            top: auto;
            .text-wrap {
                width: 100%;
                h2 {
                    font-size: 1.5rem;
                }
            }
        }
    }
    .owl-nav {
        position: absolute;
        bottom: 73px;
        top: auto;
        right: 26%;
    }
}