// Header
header {
    margin-top: 6rem;
    .default-slider {
        margin-top: 20px;
        .owl-nav {
            position: relative;
            right: -50px;
        }
        .btn-primary {
            background-color: transparent;
            border-color: $white;
            letter-spacing: .2rem;
            position: relative;
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            height: 50px;
            border-radius: 0;
            &:after {
                content: url('../../assets/images/long-arrow.svg');
                color: $white;
                transform: rotate(180deg);
                width: 63px;
                height: 63px;
            }
        }
    }
}

// About
#about {
    padding-top: 3rem;
    .left-col {
        img {
            position: relative;
            left: -40px;
            top: -100px;
            min-height: 570px;
            object-fit: cover;
        }
    }
}

// Featured Work
#portfolio {
    padding-top: 6rem;
    margin-left: 0;
    margin-right: 0;
    .slide {
        .main-wrap {
            padding: 2rem;
            .text-wrap {
                width: 100%;
                h2 {
                    font-size: 1.5rem;
                }
                p {
                    padding-top: 0;
                }
            }
        }
    }
    .text-center {
        padding-bottom: 1rem;
    }
    .owl-carousel {
        .owl-item {
            img {
                display: block;
                width: 100%;
                height: 400px;
                object-fit: cover;
            }
        }
    }
}

// Services
#services {
    padding-top: 6rem;
    .content-wrap {
        padding: 3rem;
        text-align: center;
        .icon-box {
            width: 8rem;
            height: 8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            background: rgba($color: $main-color, $alpha: .3);
            span {
                font-size: 3rem;
                color: $main-color;
            }
        }
        h4 {
            font-size: 1.4rem;
            word-break: break-word;
            font-weight: 600;
            padding: 1rem 0;
        }
    }
}

// Contact
#contact {
    margin-top: 6rem;
}