
// Header
header {
    .default-slider {
        margin-top: 20px;;
    }
}

// About
#about {
    padding-top: 3rem;
    .left-col {
        img {
            position: relative;
            left: -40px;
            top: -100px;
        }
    }
}

// Featured Work
#featured-work {
    padding-top: 6rem;
    margin-left: 0;
    margin-right: 0;
    .slide {
        .main-wrap {
            padding: 2rem;
            .text-wrap {
                width: 100%;
                h2 {
                    font-size: 1.5rem;
                }
                p {
                    padding-top: 0;
                }
            }
        }
    }
    .text-center {
        padding-bottom: 1rem;
    }
}

// Services
#services {
    padding-top: 6rem;
    .content-wrap {
        padding: 3rem;
        text-align: center;
        .icon-box {
            width: 8rem;
            height: 8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            background: rgba($color: $main-color, $alpha: .3);
            span {
                font-size: 3rem;
                color: $main-color;
            }
        }
        h4 {
            font-size: 1.4rem;
            word-break: break-word;
            font-weight: 600;
            padding: 1rem 0;
        }
    }
}

// Contact
#contact {
    margin-top: 6rem;
}